.t-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.pin-spacer {
    width: 100% !important;
}

.uc-signature .t-img {
    height: auto;
}

.uc-hero-block {
    position: relative;
    display: none;
    overflow: hidden;
}

.uc-hero-block>.t107 svg {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.uc-hero-img-copy img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}


.uc-hero-block.svg-active {
    display: block;
}

.uc-hero-img-copy.svg-active {
    display: none;
}


.uc-signature {
    opacity: 1;
}

.uc-signature svg path {
    stroke-width: 0.7px;
}


.uc-signature .t-img {
    width: 150px;
    position: absolute;
    bottom: 44px;
    right: 70px;
}

.uc-signature .t107__widthauto {
    margin: unset;
}


.uc-notre-dame-block {
    position: absolute;
    top: 0;
    left: 0;
    /*right: 0;
    bottom: 0;*/
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: white;
    /*clip-path: inset(100% 0% 100% 0%);*/
    opacity: 0;
    z-index: 1000;
}


.uc-notre-dame-block h3,
.uc-notre-dame-block .notre-dame-title {
    position: absolute;
    top: 0;
    left: 0;
    /* top: 9%;
    left: 56%;
    transform: translate(-50%, -50%); */
    color: rgb(131 131 131);
    /*  rgb(131 159 189); */
    font-size: 16px;
    font-weight: 500;
    /* padding: 20px 56px;
    background: white;
    border-radius: 6px; */
    opacity: 0;
    perspective: 1000px;
}

@media screen and (max-width: 970px) {

    .uc-notre-dame-block h3,
    .uc-notre-dame-block .notre-dame-title {
        top: 8%;
        left: 8%;
        transform: none !important;
    }
}

/* @media (max-aspect-ratio: 1/1) {
    .uc-notre-dame-block h3,
    .uc-notre-dame-block .notre-dame-title {
        transform: none;
        left: 10%;
    }
}

@media (max-aspect-ratio: 1.3/1) {
    .uc-notre-dame-block h3,
    .uc-notre-dame-block .notre-dame-title {
        transform: none;
        left: 20%;
    }
} */

.uc-notre-dame-block .notre-dame-title,
.uc-notre-dame-block .notre-dame-title :is(.group, .word, .char-wrapper, .char) {
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: 50% 50%;
    perspective: 1000px;
}

.uc-notre-dame-block .notre-dame-title {
    gap: 1rem;
}

.uc-notre-dame-block .notre-dame-title .group {
    padding: 12px 20px;
    /* background-color: rgba(255, 255, 255, 1); */
    border-radius: 4px;
    gap: 0.4ex;
}

.uc-notre-dame-block .notre-dame-title .char {}

/* .uc-notre-dame-block h3 .char-wrapper {
    padding: 0px 0px;
    background-color: #ff00001f;
    border-radius: 5px;
} */

.uc-hero-block .t107,
.uc-hero-block .t107 .t-align_center {
    height: 100%;
}

#painting-5.flip-active {
    visibility: hidden;
}

#painting-5.flipping {
    visibility: visible
}

.uc-notre-dame-block.flip-active {
    opacity: 1;
}
