.uc-gallery-menu {
    padding-top: 15px;
    padding-bottom: 60px;
}

.uc-gallery-menu .t-container {
    padding: 0px 10px 0px 10px;
}


.uc-gallery-menu .t-card__title {
    font-size: 18px;
}

.uc-gallery-menu .t-card__descr {
    font-size: 14px;
}

.uc-gallery-menu .t959__card-inner {
    border-radius: 6px;
    box-shadow: 0px 15px 30px -10px rgba(0, 11, 48, 0.3);
}

/* .uc-gallery-menu .t959__card-image {
    background: url("https://optim.tildacdn.net/tild3234-6531-4631-a666-303231346134/-/resize/360x480/-/format/webp/1-small.jpeg") center center / cover no-repeat;
} */

.uc-gallery-menu .t-card__title {
    font-weight: 500;
}

.uc-gallery-title {
    padding-top: 15px;
    padding-bottom: 75px;
    opacity: 1;
}

.uc-gallery-title .t-title {
    font-size: 20px;
    color: #6a6a6a;
    margin-bottom: 15px;
    margin-top: 8px;
    padding-bottom: 6px;
}

@media screen and (max-width: 480px) {
    .uc-gallery-title .t-title {
        font-size: 15px;
    }
}

.uc-gallery-title .t-descr {
    font-size: 14px;
}

@media screen and (max-width: 480px) {
    .uc-gallery-title .t-descr {
        font-size: 12px;
    }
}

.uc-slider-cards img {
    width: 100%;
}