.csssize {
    height: 7500px
}

.t-body {
    margin: 0
}

#allrecords {
    -webkit-font-smoothing: antialiased;
    background-color: none
}

#allrecords a {
    color: #6d6e71;
    text-decoration: none
}

#allrecords a,
#allrecords button,
#allrecords .t-radio,
#allrecords .t-checkbox,
#allrecords .t-img-select {
    outline: none
}

#allrecords a:focus-visible,
#allrecords button:focus-visible,
#allrecords .t-focusable,
#allrecords .t-focusable .t-btn,
#allrecords .t-focusable .t-btntext,
#allrecords .t-img-select:focus-visible+.t-img-select__indicator,
#allrecords .t-img-select:focus-visible+.t-img-select__indicator:after,
#allrecords .t-radio:focus-visible+.t-radio__indicator,
#allrecords .t-checkbox:focus-visible+.t-checkbox__indicator {
    outline-color: #2015FF;
    outline-offset: 4px;
    outline-style: auto
}

#allrecords .t-descr a:focus-visible,
#allrecords .t-sociallinks a:focus-visible,
#allrecords .ya-share2__link:focus-visible {
    outline-offset: 2px
}

#allrecords a[href^=tel] {
    color: inherit;
    text-decoration: none
}

#allrecords ol {
    padding-left: 22px
}

#allrecords ul {
    padding-left: 20px
}

#allrecords b,
#allrecords strong {
    font-weight: 700
}

@media print {

    body,
    html {
        min-width: 1200px;
        max-width: 1200px;
        padding: 0;
        margin: 0 auto;
        border: none
    }
}

.t-records {
    -webkit-font_smoothing: antialiased;
    background-color: none
}

.t-records a {
    color: #6d6e71;
    text-decoration: none
}

.t-records a[href^=tel] {
    color: inherit;
    text-decoration: none
}

.t-records ol {
    padding-left: 22px;
    margin-top: 0;
    margin-bottom: 10px
}

.t-records ul {
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 10px
}

.t-mbfix {
    opacity: .01;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    position: fixed;
    width: 100%;
    height: 500px;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 10000;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease
}

.t-mbfix_hide {
    -webkit-transform: translateX(3000px);
    -ms-transform: translateX(3000px);
    transform: translateX(3000px)
}

img:not([src]) {
    visibility: hidden
}

.t-body_scroll-locked {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.r_anim {
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s
}

.r_hidden {
    opacity: 0
}

.r_showed {
    opacity: 1
}

.t-text {
    font-family: 'FuturaPT', Arial, sans-serif;
    font-weight: 300;
    color: #231f20
}

.t-text_xs {
    font-size: 15px;
    line-height: 1.55
}

.t-text_sm {
    font-size: 18px;
    line-height: 1.55
}

.t-text_md {
    font-size: 20px;
    line-height: 1.55
}

.t-name {
    font-family: 'FuturaPT', Arial, sans-serif;
    font-weight: 600;
    color: #414042
}

.t-name_xs {
    font-size: 16px;
    line-height: 1.35
}

.t-name_lg {
    font-size: 22px;
    line-height: 1.35
}

.t-heading {
    font-family: 'FuturaPT', Arial, sans-serif;
    font-weight: 600;
    color: #414042
}

.t-heading_sm {
    font-size: 28px;
    line-height: 1.17
}

.t-title {
    font-family: 'FuturaPT', Arial, sans-serif;
    font-weight: 600;
    color: #414042
}

.t-title_xxs {
    font-size: 36px;
    line-height: 1.23
}

.t-title_xs {
    font-size: 42px;
    line-height: 1.23
}

.t-title_sm {
    font-size: 48px;
    line-height: 1.23
}

.t-descr {
    font-family: 'FuturaPT', Arial, sans-serif;
    font-weight: 300;
    color: #231f20
}

.t-descr_xxs {
    font-size: 14px;
    line-height: 1.55
}

.t-descr_md {
    font-size: 20px;
    line-height: 1.55
}

.t-descr_xl {
    font-size: 24px;
    line-height: 1.5
}

.t-descr_xxxl {
    font-size: 30px;
    line-height: 1.45;
    letter-spacing: .45
}

.t-btn {
    display: inline-block;
    font-family: 'FuturaPT', Arial, sans-serif;
    border: 0 none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 700;
    background-image: none;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.t-btn td {
    vertical-align: middle
}

.t-btn_sending {
    opacity: .5
}

.t-btn_sm {
    height: 45px;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px
}

.t-btntext {
    font-family: 'FuturaPT', Arial, sans-serif;
    color: #414042;
    font-size: 20px;
    line-height: 1.55;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    display: inline-block
}

.t-btntext:after {
    content: "\00a0→";
    font-family: Arial, Helvetica, sans-serif
}

.t-uppercase.t-btntext {
    font-size: 16px
}

.t-align_center {
    text-align: center
}

.t-align_left {
    text-align: left
}

.t-margin_auto {
    margin-left: auto;
    margin-right: auto
}

.t-popup {
    display: none
}

.t-submit {
    font-family: 'FuturaPT', Arial, sans-serif
}

.t-input {
    font-family: 'FuturaPT', Arial, sans-serif
}

.t-input__vis-ph {
    font-family: 'FuturaPT', Arial, sans-serif
}

.t-select {
    font-family: 'FuturaPT', Arial, sans-serif
}

.t-input-error {
    font-family: 'FuturaPT', Arial, sans-serif
}

.t-form__errorbox-wrapper {
    font-family: 'FuturaPT', Arial, sans-serif
}

.t-form__errorbox-text {
    font-family: 'FuturaPT', Arial, sans-serif
}

.t-form__errorbox-item {
    font-family: 'FuturaPT', Arial, sans-serif
}

.t-form__successbox {
    font-family: 'FuturaPT', Arial, sans-serif
}

.t-rec_pt_0 {
    padding-top: 0
}

.t-rec_pt_15 {
    padding-top: 15px
}

.t-rec_pt_60 {
    padding-top: 60px
}

.t-rec_pt_75 {
    padding-top: 75px
}

.t-rec_pt_105 {
    padding-top: 105px
}

.t-rec_pt_150 {
    padding-top: 150px
}

.t-rec_pb_0 {
    padding-bottom: 0
}

.t-rec_pb_15 {
    padding-bottom: 15px
}

.t-rec_pb_60 {
    padding-bottom: 60px
}

.t-rec_pb_75 {
    padding-bottom: 75px
}

.t-rec_pb_150 {
    padding-bottom: 150px
}

@media screen and (max-width: 1200px) {
    .t-text_xs {
        font-size: 14px
    }

    .t-text_sm {
        font-size: 16px
    }

    .t-text_md {
        font-size: 18px
    }

    .t-descr_xxs {
        font-size: 12px
    }

    .t-descr_md {
        font-size: 18px
    }

    .t-descr_xl {
        font-size: 22px
    }

    .t-descr_xxxl {
        font-size: 26px
    }

    .t-title_xxs {
        font-size: 32px
    }

    .t-title_xs {
        font-size: 38px
    }

    .t-title_sm {
        font-size: 44px
    }

    .t-name_xs {
        font-size: 14px
    }

    .t-name_lg {
        font-size: 20px
    }

    .t-heading_sm {
        font-size: 26px
    }
}

@media screen and (max-width: 640px) {
    .t-text_xs {
        font-size: 12px;
        line-height: 1.45
    }

    .t-text_sm {
        font-size: 14px;
        line-height: 1.45
    }

    .t-text_md {
        font-size: 16px;
        line-height: 1.45
    }

    .t-descr_md {
        font-size: 16px;
        line-height: 1.45
    }

    .t-descr_xl {
        font-size: 20px;
        line-height: 1.4
    }

    .t-descr_xxxl {
        font-size: 22px
    }

    .t-title_xxs {
        font-size: 28px
    }

    .t-title_xs {
        font-size: 30px
    }

    .t-title_sm {
        font-size: 30px
    }

    .t-name_xs {
        font-size: 12px
    }

    .t-name_lg {
        font-size: 18px
    }

    .t-heading_sm {
        font-size: 24px
    }

    .t-btn {
        white-space: normal
    }

    .t-btn_sm {
        padding-left: 20px;
        padding-right: 20px
    }
}

@media screen and (max-width: 480px) {
    .t-rec_pt_0 {
        padding-top: 0
    }

    .t-rec_pt_15 {
        padding-top: 15px
    }

    .t-rec_pt_60 {
        padding-top: 60px
    }

    .t-rec_pt_75 {
        padding-top: 75px
    }

    .t-rec_pt_105 {
        padding-top: 90px
    }

    .t-rec_pt_150 {
        padding-top: 90px !important
    }

    .t-rec_pb_0 {
        padding-bottom: 0
    }

    .t-rec_pb_15 {
        padding-bottom: 15px
    }

    .t-rec_pb_60 {
        padding-bottom: 60px
    }

    .t-rec_pb_75 {
        padding-bottom: 75px
    }

    .t-rec_pb_150 {
        padding-bottom: 90px !important
    }

    .t-btn_sm {
        height: 50px
    }
}

.t360__progress {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999999999
}

.t360__bar {
    width: 0;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
    height: 2px
}

.t360__barprogress {
    width: 70%;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s
}

.t360__barprogressfinished {
    width: 100%
}

.t360__barprogresshidden {
    opacity: 0;
    width: 100%
}

.t123__centeredContainer {
    text-align: center
}

.t107 {
    text-align: center
}

#allrecords a.t107__link_width100:focus-visible {
    outline-offset: -2px
}

.t107__width {
    vertical-align: middle
}

.t107__widthauto {
    display: block;
    width: auto;
    max-width: 100%;
    margin: 0 auto
}

.t107__title {
    padding-top: 28px;
    padding-bottom: 28px;
    font-size: 14px;
    line-height: 28px
}

@media screen and (max-width: 640px) {
    #allrecords a.t107__link:focus-visible {
        outline-offset: -2px
    }
}

@media screen and (max-width: 480px) {
    .t107__mobpadding {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box
    }
}

.t795__title {
    margin-bottom: 40px
}

.t795__descr {
    max-width: 560px
}

.t396 {
    -webkit-text-size-adjust: 100%
}

.t396__iframe {
    z-index: 10000;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border: 0
}

.t396__body_overflow_hidden {
    overflow: hidden
}

.t396__display_none {
    display: none
}

.t396__artboard {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden
}

.t396__artboard .t396__artboard_scale {
    overflow: visible
}

.t396__artboard.t396__artboard_scale .t396__elem[data-elem-type="text"] .tn-atom {
    word-break: normal;
    -moz-osx-font-smoothing: grayscale
}

.t396__artboard_scale .t396__carrier,
.t396__artboard_scale .t396__filter {
    transform-origin: top left
}

.tn-atom__scale-wrapper {
    width: inherit;
    height: inherit
}

.t396__elem .tn-atom__scale-wrapper .tn-atom {
    width: inherit;
    height: inherit !important;
    box-sizing: border-box
}

.t396__artboard.rendering .tn-elem {
    visibility: hidden
}

.t396__artboard.rendered .tn-elem {
    visibility: visible
}

.t396__carrier {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100vh;
    -moz-transform: unset
}

.t396__filter {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    transform: translateZ(0)
}

.t396__elem {
    position: absolute;
    box-sizing: border-box;
    display: table
}

.t396 .tn-atom {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

@media screen and (max-width: 959px) {
    .t396_safari .t396__artboard_scale .tn-atom {
        -webkit-text-size-adjust: auto;
        -moz-text-size-adjust: auto;
        -ms-text-size-adjust: auto
    }
}

.t396 .tn-atom ul,
.t396 .tn-atom ol {
    margin-bottom: 0
}

.t396_safari .tn-atom:not(.tn-atom__form) {
    transform: translateZ(0)
}

.t396 a.tn-atom {
    text-decoration: none
}

.t396 .tn-atom__img {
    width: 100%;
    display: block
}

.t396 .tn-atom__html {
    vertical-align: top
}

.t396 .tn-atom__pin {
    border-radius: 1000px;
    border-style: solid
}

.t396 .tn-atom__pin_onclick {
    cursor: pointer
}

.t396 .tn-atom__tip {
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    max-width: 90vw;
    padding: 15px;
    display: none
}

.t396 .tn-atom__pin:hover .tn-atom__tip {
    display: none
}

.t396 .tn-atom__tip-img {
    width: 100%;
    display: block;
    margin-bottom: 10px
}

.t396 .tn-atom__tip[data-tip-pos=top] {
    bottom: 100%;
    margin-bottom: 15px;
    left: 50%;
    transform: translateX(-50%)
}

.t396 .tn-atom__tip[data-tip-pos=bottom] {
    top: 100%;
    margin-top: 15px;
    left: 50%;
    transform: translateX(-50%)
}

.t396 .tn-atom__tip[data-tip-pos=left] {
    right: 100%;
    margin-right: 15px;
    top: 50%;
    transform: translateY(-50%)
}

.t396 .tn-atom__tip[data-tip-pos=right] {
    left: 100%;
    margin-left: 15px;
    top: 50%;
    transform: translateY(-50%)
}

.t396__ui {
    position: absolute;
    top: 16px;
    left: 196px;
    background-color: #fa876b;
    color: #000 !important;
    height: 30px;
    line-height: 30px;
    width: 100px;
    z-index: 1000;
    text-align: center;
    border-radius: 3px;
    display: none;
    font-size: 14px
}

.t396__artboard.t396__artboard-fixed-active {
    transform: none !important;
    opacity: 1 !important
}

.t396__artboard-fixed-no-bg,
.t396__artboard-fixed-innactive,
.t396__artboard-fixed-innactive .t396__elem,
.t396__artboard-fixed-no-bg.t396__artboard-fixed-innactive .t396__elem {
    pointer-events: none
}

.t396__artboard-fixed-no-bg .t396__elem {
    pointer-events: auto
}

.t396__group-flex .t396__elem {
    position: relative !important;
    left: initial !important;
    top: initial !important;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.t004 {
    padding-top: 8px;
    padding-bottom: 6px;
    position: relative
}

.t004__text-column-count_2 {
    column-count: 2;
    column-gap: 40px;
    -moz-column-count: 2;
    -moz-column-gap: 40px;
    -webkit-column-count: 2;
    -webkit-column-gap: 40px
}

.t004__text-column-count_3 {
    column-count: 3;
    column-gap: 40px;
    -moz-column-count: 3;
    -moz-column-gap: 40px;
    -webkit-column-count: 3;
    -webkit-column-gap: 40px
}

.t004__text-column-count_4 {
    column-count: 4;
    column-gap: 40px;
    -moz-column-count: 4;
    -moz-column-gap: 40px;
    -webkit-column-count: 4;
    -webkit-column-gap: 40px
}

.t004__initial-letter::first-letter {
    font-size: 100px;
    float: left;
    line-height: .65;
    margin: 10px 10px 10px 0
}

.t004 table {
    border-collapse: collapse;
    font-size: 1em;
    width: 100%
}

.t004 table td,
.t004 table th {
    padding: 5px;
    border: 1px solid #ddd;
    vertical-align: top
}

.t004 table thead td,
.t004 table th {
    font-weight: 700;
    border-bottom-color: #888
}

@media screen and (max-width: 1200px) {

    .t004__text-column-count_2,
    .t004__text-column-count_3,
    .t004__text-column-count_4 {
        column-gap: 20px;
        -moz-column-gap: 20px;
        -webkit-column-gap: 20px
    }
}

@media screen and (max-width: 960px) {

    .t004__text-column-count_2,
    .t004__text-column-count_3,
    .t004__text-column-count_4 {
        column-count: 1;
        column-gap: 0;
        -moz-column-count: 1;
        -moz-column-gap: 0;
        -webkit-column-count: 1;
        -webkit-column-gap: 0
    }
}

@media screen and (max-width: 640px) {
    .t004 h1 {
        font-size: 28px;
        line-height: 35px
    }
}

.t959 .t-section__bottomwrapper {
    margin-top: 105px
}

.t959__col {
    max-width: none
}

.t959__card-inner {
    position: relative;
    width: calc(100% + 1px);
    min-height: auto;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.t959__card-inner.t959__card-inner_16-9 {
    padding-bottom: 56%
}

.t959__card-inner.t959__card-inner_4-3 {
    padding-bottom: 75%
}

.t959__card-inner.t959__card-inner_3-2 {
    padding-bottom: 66%
}

.t959__card-inner.t959__card-inner_1-1 {
    padding-bottom: 100%
}

.t959__card-inner.t959__card-inner_2-3 {
    padding-bottom: 150%
}

.t959__card-inner.t959__card-inner_3-4 {
    padding-bottom: 133%
}

.t959__card-inner.t959__card-inner_9-16 {
    padding-bottom: 177%
}

.t959__card-inner:hover .t959__card-image_zoom,
.t959__card-inner.t-focusable .t959__card-image_zoom {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}

.t959__card-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0
}

.t959__card-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.t959 .t-card__title {
    margin: 30px 60px 30px 30px;
    color: white
}

.t959__card-title_centered {
    padding-left: 30px
}

.t959 .t-card__descr {
    color: white;
    margin: 0 30px 30px 30px
}

.t959__card-title-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.t959__container {
    min-height: 1px;
    padding: 0 10px 20px 10px;
    font-size: 0;
    box-sizing: border-box
}

.t959__container_indent {
    padding: 0 30px 0 30px;
    box-sizing: border-box
}

.t959__card {
    display: inline-block;
    vertical-align: top;
    padding: 20px 10px 0 10px;
    box-sizing: border-box
}

.t959__card_25 {
    width: 25%
}

.t959__card_50 {
    width: 50%
}

.t959__card_33 {
    width: 33.3333%
}

.t959__card_100 {
    width: 100%
}

.t959__card:hover .t959__card-content_hover,
.t959__card:hover .t959__card-overlay_hover,
.t959__card .t959__card-inner.t-focusable .t959__card-content_hover,
.t959__card .t959__card-inner.t-focusable .t959__card-overlay_hover {
    opacity: 1
}

.t959__card:hover .t959__card-content_animated,
.t959__card .t959__card-inner.t-focusable .t959__card-content_animated {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.t959__card-content_hover {
    opacity: 0
}

.t959__card-content_hover.t959__card-content_animated {
    -webkit-transform: translateY(20%);
    transform: translateY(20%)
}

.t959__card-overlay {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5)
}

.t959__card-overlay_hover {
    opacity: 0
}

.t959__card-arrow {
    position: absolute;
    right: 30px;
    top: 35px;
    z-index: 1
}

.t959__card-arrow_hidden {
    display: none
}

.t959__animation_fast {
    transition: all ease-in-out .25s
}

.t959__animation_slow {
    transition: all ease-in-out .45s
}

.t959__scroll-icon-wrapper {
    display: none
}

@media screen and (max-width: 960px) {
    .t959 .t-section__bottomwrapper {
        margin-top: 90px
    }

    .t959__bottommargin {
        margin-bottom: 15px
    }

    .t959__scroll-icon-wrapper {
        display: block;
        padding: 0 40px 20px 0;
        font-size: 0;
        text-align: right;
        color: #a1a1a1;
        mix-blend-mode: multiply
    }

    .t959__container_mobile-flex {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        max-width: 100%;
        overflow-x: scroll;
        box-sizing: border-box;
        -ms-overflow-style: none;
        scrollbar-width: none
    }

    .t959__container_mobile-flex::-webkit-scrollbar {
        display: none
    }

    .t959__container_mobile-flex .t959__row {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    .t959__container_mobile-flex .t959__card {
        width: 80vw
    }
}

@media screen and (max-width: 960px) {
    .t959__card {
        width: 100%;
        padding: 10px 10px 0 10px
    }

    .t959__card-arrow {
        top: 30px;
        right: 25px
    }

    .t959__row:not(:first-child) {
        margin-top: 0px !important
    }
}

@media screen and (max-width: 640px) {
    .t959__scroll-icon-wrapper {
        padding: 0 20px 10px 0
    }
}

@media screen and (max-width: 480px) {
    .t959__container_mobile-flex .t959__card {
        width: 85vw;
        padding-right: 5px;
        padding-left: 5px;
        box-sizing: content-box
    }

    .t959__container_mobile-flex {
        padding-right: 15px !important;
        padding-left: 15px !important
    }
}

.t030__title {
    margin-bottom: 15px
}

.t030__descr {
    margin-top: 8px;
    padding-bottom: 6px
}

.t156__wrapper {
    display: table;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.t156__item {
    display: table-cell;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start
}

.t156__item img {
    object-fit: contain;
    display: block
}

.t819__wrapper {
    width: 100%;
    padding-top: 3px;
    font-size: 0;
    text-align: center
}

#allrecords .t819__wrapper {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.t819__container li ul {
    list-style-type: disc
}

.t819__wrapper::before,
.t819__wrapper::after {
    content: '';
    display: table
}

.t819__wrapper::after {
    clear: both
}

.t819__tab {
    position: relative;
    display: inline-block;
    font-size: 0;
    cursor: pointer;
    vertical-align: middle
}

.t819__tab::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 3px;
    background-color: transparent
}

.t819__tab_active {
    cursor: default
}

.t819__tab-name {
    padding: 18px 20px;
    color: #000000;
    background-color: transparent;
    border: none;
    cursor: pointer
}

#allrecords button.t819__tab-name:focus-visible {
    outline-offset: 1px
}

#allrecords .t819__content_active:focus-visible {
    outline-color: #2015FF;
    outline-offset: 2px;
    outline-style: auto
}

.t819__content-row {
    position: relative
}

.t819__content {
    display: block
}

.t819__content-col {
    display: inline;
    float: left;
    box-sizing: border-box
}

.t819__content-col_full-width {
    width: 100%
}

.t819__content-col_1 {
    display: block;
    float: none
}

.t819__content-col_2 {
    width: 50%
}

.t819__content-col_2:first-child {
    padding-right: 20px
}

.t819__content-col_2:last-child {
    padding-left: 20px
}

.t819__content {
    display: none;
    position: relative;
    padding: 40px
}

.t819__content::before,
.t819__content::after {
    content: '';
    display: table
}

.t819__content::after {
    clear: both
}

.t819__content_active {
    display: block
}

.t819__content img {
    display: block;
    max-width: 100%;
    width: 100%
}

.t819__title {
    margin-bottom: 15px
}

.t819__btn-wrapper {
    margin-top: 30px
}

.t819__btntext-wrapper {
    margin-top: 20px
}

.t819__off {
    display: none !important
}

.t819__select {
    -webkit-appearance: none;
    padding: 16px 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid;
    border-bottom-width: 0;
    outline: none;
    margin: 0;
    font-size: 16px
}

.t819__wrapper_mobile {
    position: relative;
    display: none
}

.t819__wrapper_mobile:after {
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    position: absolute;
    top: 50%;
    right: 20px;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

.t819__firefoxfix {
    width: 16px;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    pointer-events: none
}

@media screen and (max-width: 960px) {
    .t819__col {
        padding: 0 20px;
        box-sizing: border-box
    }

    .t819__content {
        padding: 20px
    }

    .t819__content-col_2 {
        width: 100%
    }

    .t819__content-col_2:first-child {
        padding-right: 0
    }

    .t819__content-col_2:last-child {
        padding-left: 0
    }

    .t819__wrapper_mobile {
        display: block
    }

    .t819__wrapper {
        display: none
    }

    .t819__tab-block {
        position: relative;
        overflow: hidden
    }
}

.t580 {
    text-align: center
}

.t580__title {
    color: #fff;
    margin-bottom: 25px
}

.t580__descr {
    color: #fff
}

.t580__buttons {
    margin-top: 70px
}

.t580__buttons-wrapper {
    display: table;
    position: relative
}

.t580__arrow-icon {
    width: 45px;
    position: absolute;
    left: -30px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    fill: #fff;
    top: 0;
    bottom: 0;
    margin: auto
}

.t580__arrow-icon_mobile {
    display: none
}

.t580__arrow-icon_right {
    right: -30px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-transform-origin: right;
    transform-origin: right;
    left: auto
}

.t580__btn-size_lg {
    height: 70px;
    font-size: 22px;
    padding-left: 70px;
    padding-right: 70px
}

.t580__btn-size_xl {
    height: 80px;
    font-size: 26px;
    padding-left: 80px;
    padding-right: 80px
}

.t580__btn-size_xxl {
    height: 100px;
    font-size: 30px;
    padding-left: 90px;
    padding-right: 90px
}

.t580__btn {
    margin-bottom: 20px;
    margin-right: 20px
}

.t580__btn:last-of-type {
    margin-right: 0
}

@media screen and (max-width: 960px) {
    .t580__buttons {
        margin-top: 30px
    }

    .t580__arrow-icon {
        display: none
    }

    .t580__arrow-icon_mobile {
        display: block;
        width: 20px;
        margin: 0 auto 20px;
        fill: #fff
    }
}

@media screen and (max-width: 640px) {
    .t580__btn {
        margin-right: 0 !important
    }

    .t580__btn,
    .t580__buttons-wrapper {
        margin-bottom: 10px !important;
        width: 100%
    }

    .t580__btn-size_lg,
    .t580__btn-size_xl,
    .t580__btn-size_xxl {
        height: 60px;
        font-size: 18px;
        padding-left: 40px;
        padding-right: 40px
    }
}

.t121__widthauto {
    width: 100%;
    max-width: 940px;
    vertical-align: middle
}

.t121 iframe {
    display: block;
    border: 0;
    padding: 0
}

.t121 .t-video-lazyload {
    background-color: #000000
}

.t604__imgwrapper {
    position: relative
}

.t604__imgwrapper .t-slds__bgimg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.t604 .t-slds__items-wrapper,
.t604 .t-slds__container {
    overflow: visible
}

.t604 .t-slds__wrapper {
    -webkit-transition: opacity ease-in-out .3s;
    -moz-transition: opacity ease-in-out .3s;
    -o-transition: opacity ease-in-out .3s;
    transition: opacity ease-in-out .3s
}

.t604 .t-slds__item .t-slds__wrapper {
    opacity: .3
}

.t604 .t-slds__item_active .t-slds__wrapper {
    opacity: 1 !important
}

.t604 .t-slds__item:first-child,
.t604 .t-slds__item:last-child {
    pointer-events: none
}

.t604__hidearrows .t-slds__arrow {
    opacity: 0 !important
}

.t604__play {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2
}

.t604__play_icon {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    outline: none;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: transform ease-in-out .2s;
    -moz-transition: transform ease-in-out .2s;
    -o-transition: transform ease-in-out .2s;
    transition: transform ease-in-out .2s;
    cursor: pointer
}

.t604__play:hover .t604__play_icon {
    -moz-transform: translateY(-50%) scale(1.15);
    -ms-transform: translateY(-50%) scale(1.15);
    -webkit-transform: translateY(-50%) scale(1.15);
    -o-transform: translateY(-50%) scale(1.15);
    transform: translateY(-50%) scale(1.15)
}

.t604__play_icon:focus-visible {
    -moz-transform: translateY(-50%) scale(1.15);
    -ms-transform: translateY(-50%) scale(1.15);
    -webkit-transform: translateY(-50%) scale(1.15);
    -o-transform: translateY(-50%) scale(1.15);
    transform: translateY(-50%) scale(1.15)
}

.t604__frame {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1
}

@media screen and (max-width: 640px) {
    .t604 .t-slds__wrapper {
        padding: 0 !important
    }

    .t604__hidearrows .t-slds__arrow_wrapper {
        display: none !important
    }
}

.t331__body_popupshowed.t-body_popupshowed {
    height: auto
}

.t331__fullwidth .t331__video-carier,
.t331__fullwidth .t331__youtube {
    height: 100vh !important
}

.t331__fullwidth iframe {
    display: block
}

@media screen and (max-width: 640px) {
    .t331__fullwidth .t331__mainblock {
        padding: 0
    }
}

.t718 .t718__contentwrapper {
    display: table-cell;
    vertical-align: middle
}

.t718 .t718__contentbox {
    display: table;
    width: 100%;
    color: #fff
}

.t718 .t718__contacts {
    margin-bottom: 40px
}

.t718 .t-sociallinks {
    margin-top: 20px
}

.t718 .t-sociallinks__item {
    display: inline-block;
    margin: 4px 1px 0
}

.t718 .t-sociallinks a {
    display: inline-block
}

.t718 .t718__social_links_item:last-child {
    margin-right: 0
}

#allrecords .t718 ul.t-sociallinks__wrapper {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.t718 .t-form__inputsbox {
    -webkit-transition: max-height 0.3s cubic-bezier(.19, 1, .22, 1);
    transition: max-height 0.3s cubic-bezier(.19, 1, .22, 1);
    max-height: 10000px
}

.t718 .t718__inputsbox_hidden.t-form__inputsbox {
    overflow: hidden;
    max-height: 0;
    opacity: 0
}

.t718 .t-input-group {
    margin-bottom: 25px
}

.t718 .t-form_bbonly .t-form__inputsbox_flex .t-input-group {
    margin-bottom: 0
}

.t718 .t-input {
    background-color: transparent;
    -webkit-appearance: none
}

.t718 .t-input-block textarea {
    padding-top: 17px;
    background-color: transparent
}

.t718 .t-input-block textarea.t-input_pvis {
    padding-top: 26px
}

.t718 .t-input-title {
    padding-bottom: 5px
}

.t718 .t-input-subtitle {
    padding-bottom: 15px
}

.t718 .t-input-group_rd .t-input-subtitle {
    padding-bottom: 5px
}

.t718 .t-inputtime,
.t718 .t-datepicker__wrapper {
    max-width: 245px
}

.t718 .t-input-group_inrow .t-inputtime,
.t718 .t-input-group_inrow .t-datepicker__wrapper {
    max-width: 100%
}

.t718 .t-form_bbonly .t-input-title {
    padding-bottom: 0;
    margin-bottom: 0
}

.t718 .t-form_bbonly .t-input-subtitle {
    padding-bottom: 0;
    padding-top: 5px
}

.t718 .t-form_bbonly .t-input-block {
    margin-bottom: 30px
}

.t718 .t-form__submit {
    display: block;
    vertical-align: middle;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 10px
}

.t718 .t-form__inputsbox_flex .t-form__submit {
    margin-top: 5px
}

.t718 .t-form_bbonly .t-form__inputsbox_flex .t-form__submit {
    margin-top: 0
}

.t718 .t-form__inputsbox_flex .t-form__errorbox-wrapper {
    margin-bottom: 25px
}

.t718 .t-form_bbonly .t-form__inputsbox_flex .t-form__errorbox-wrapper {
    margin-bottom: 30px
}

.t718 .t718__form-bottom-text {
    margin-top: 20px
}

@media screen and (max-width: 960px) {
    .t718 .t718__contentwrapper {
        padding: 0 0 40px 0;
        text-align: center
    }

    .t718 .t718__social_links {
        margin-top: 20px
    }
}

@media screen and (max-width: 750px) {
    .t718 .t718__col {
        float: none;
        width: 100%;
        min-height: auto !important
    }

    .t718 .t718__contentbox {
        float: none;
        width: 100%;
        height: auto !important
    }

    .t718 .t-form__submit {
        margin-top: 28px
    }
}

@media screen and (max-width: 640px) {
    .t718 .t-form__submit {
        display: block;
        width: 100%;
        padding-bottom: 20px;
        text-align: center
    }

    .t718 .t-input-block textarea {
        padding-top: 12px
    }

    .t718 .t-submit {
        width: 100%
    }
}

@media screen and (max-width: 480px) {

    .t718 .t-inputtime,
    .t718 .t-datepicker__wrapper {
        max-width: 100%
    }

    .t718 .t718__contacts {
        font-size: 18px
    }
}

.t270__error-msg {
    text-align: center;
    display: none
}

.t270__error-msg-text {
    display: inline-block;
    margin: 0 20px 35px 20px;
    padding: 15px;
    color: #ff0000;
    border: 1px solid #ff0000;
    font-size: 14px;
    font-family: tfutura, Arial
}

#allrecords .t-text a,
#allrecords .t-descr:not(.t706__product-title) a,
#allrecords .t-heading a:not(.t-card__link),
#allrecords .t-title a,
#allrecords .t-impact-text a,
#allrecords .t-text-impact a,
#allrecords .t-name:not(.t-feed__parts-switch-btn):not(.t-feed__post-title) a:not(.t794__typo):not(.t-menusub__link-item):not(.t-card__link),
#allrecords .t-uptitle a,
#allrecords .tn-atom[field] a {
    transition: color 0.3s
}

#allrecords .t-text a:hover,
#allrecords .t-descr:not(.t706__product-title) a:hover,
#allrecords .t-heading a:not(.t-card__link):hover,
#allrecords .t-title a:hover,
#allrecords .t-impact-text a:hover,
#allrecords .t-text-impact a:hover,
#allrecords .t-name:not(.t-feed__parts-switch-btn):not(.t-feed__post-title) a:not(.t794__typo):not(.t-menusub__link-item):not(.t-card__link):hover,
#allrecords .t-uptitle a:hover,
#allrecords .tn-atom[field] a:hover {
    color: #58595b
}

#allrecords .t-text a:hover,
#allrecords .t-descr:not(.t706__product-title) a:hover,
#allrecords .t-heading a:not(.t-card__link):hover,
#allrecords .t-title a:hover,
#allrecords .t-impact-text a:hover,
#allrecords .t-text-impact a:hover,
#allrecords .t-name:not(.t-feed__parts-switch-btn):not(.t-feed__post-title) a:not(.t794__typo):not(.t-menusub__link-item):not(.t-card__link):hover,
#allrecords .t-uptitle a:hover,
#allrecords .tn-atom[field] a:hover {
    border-color: #58595b
}