 :root {
     --gallery-menu-width: 90vw;
 }

 .uc-gallery-menu .t959__container {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
     column-gap: 20px;
     height: 340px;
     position: relative;
     width: var(--gallery-menu-width, 90vw);
     /*100%;*/
     max-width: unset;
     /*padding: 0 100px !important;*/
     padding: 0 !important;
 }

 .uc-gallery-menu .t959__card {
     width: 100%;
     padding: 0;
 }

 .uc-gallery-menu .t959__container::before,
 .uc-gallery-menu .t959__container::after {
     display: none;
 }


 .uc-gallery-menu .t959__card-inner {
     height: 100%;
     padding: 0 !important;
 }

 .uc-gallery-menu .t959__card-content {
     padding: 11px;
 }

 .uc-gallery-menu .t959 .t-card__title,
 .uc-gallery-menu .t959 .t-card__descr {
     margin: 0;
 }

 .uc-gallery-menu .t959__card-content {
     align-items: center;
     justify-content: flex-end;
 }

 #rec747864295 .t-card__title {
     font-size: 15px;
 }


 .uc-gallery-menu .t959__card-overlay {
     background: rgba(0, 0, 0, 0.2);
 }

 .uc-gallery-menu .t959__card-inner:hover .t959__card-overlay {
     background: rgba(0, 0, 0, 0);
 }

 .uc-gallery-menu .t959__card-inner:hover .t959__card-image,
 .uc-gallery-menu .t959__card.active .t959__card-image {
     filter: brightness(1.3);
 }

 .uc-gallery-menu .t959__card.active .t959__card-overlay {
     background: rgba(0, 0, 0, 0);
 }

 .uc-gallery-menu .t959__card-inner:hover {
     cursor: pointer;
 }


 .uc-gallery-menu .t959__card .card--hint {
     display: block;
     width: 100%;
     position: absolute;
     left: 0;
     bottom: -20px;
     display: flex;
     justify-content: center;
     gap: 5px;
 }

 .uc-gallery-menu .t959__card .card--hint .hinter {
     display: block;
     width: 5px;
     height: 5px;
     border-radius: 20px;
     background: rgba(0, 0, 0, 0.4);
     opacity: 0;
 }
